# Ignore the .metadata, employee-service, employee-web folder, theses are the projects and are on java-projects branch
.metadata/
employee-service/
employee-web/
demo-springboot-with-docker/
projects-with-various-table-relations/